*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #ECF0F1;
  --dark: #222222;
  --accent: #D40029;
  --muted: #5D666E;
  --light: #BEC6C7;

  --font: 'Rubik', sans-serif;
}

html, body, .App{
  background-color: var(--background);
  font-family: var(--font);
}

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}